* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-image: url("./images/bg.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
h1 {
    position: relative;
    text-align: center;
    margin-top: 10px;
    
}
.side-bar {
    width: 290px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
}
.side-bar .lectures {
    width: 100%;
    margin-top: 50px;
    /* margin-left: 20px; */
}
.side-bar .lectures .item {
    position: relative;
    cursor: pointer;
}
.side-bar .lectures .item a {
    color:aliceblue;
    display: block;
    padding: 5px 20px;
    line-height: 20px;
    font-size: 18px;
    text-decoration: none;
}
.side-bar .lectures .item a:hover {
    background: #6606d4;
    transition: 0.3s ease;
}
.side-bar .lectures .item i {
    margin-right: 10px;
    
}
.answers {
    margin-left: 400px;
    margin-top: 100px;
}
h3{
    text-align: center;
}
.answers .definition img{
    width: 500px;
    height: 300px;
}
#first {
    display: none;
}
#second {
    display: none;
}
#third {
    display: none;
}
#fourth {
    display: none;
}
#fifth {
    display: none;
}
#sixth{
    display: none;
}
#seventh {
    display: none;
}
#eighth {
    display: none;
}
#nineth {
    display: none;
}
#tenth {
    display: none;
}